<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("./partials/head.ejs") %>

<body class="body_home">

<!--ACA SE INCLUYE EL PARTIAL : HEADER -->
<%- include("./partials/header.ejs") %>


<main class="productos">
      <div class="home__video--container">
      <video class="home_video" width="90%" autoplay muted >
          <source src="/images/video/punto21digital.mp4" type="video/mp4">
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
      
      <div class="main_title_box">
        <hr class="hr_txt" />
        <h2 id="productos_home">DIGITALIZACIÓN ADF CONTINUOS</h2>
        <hr class="hr_txt" />
      </div>
    

      <section class="contenedor-productos1 section_products_main_index">
        <% continuoProduct.forEach(product => { %>
            <article class="articulos">

            <a href="../products/detalle/<%= product.id%>"><img src="/images/products/<%=product.imagen %>" alt="digitalizacion" /></a>
            <div class="product-texto">
              <p class="modelo"><%=product.nombre%></p>
              <div class="main_descuento_precio_articulo">
                <p class="precio">$<%=product.precio%></p>
              </div>
              <button><a class="button__blanco--color" href="/products/detalle/<%= product.id%>">Ver Detalle</a></button>
            </div>
        </article>
          <% }); %>
      </section>

      <div class="main_title_box">
        <hr class="hr_txt" />
        <!-- <a href="#contactless"> -->
        <h2 id="productos_home">DIGITALIZACIÓN LIBROS SIN CONTACTO</h2>
      <!-- </a> -->
        <hr class="hr_txt" />
      </div>

      <section class="contenedor-productos2 section_products_main_index">
        <% contactlessProduct.forEach(product => { %>
        <article class="articulos">
          <a href="/products/detalle/<%= product.id%>"><img src="/images/products/<%= product.imagen %>" alt="digitalizacion" /></a>
          <div class="product-texto">
            <p class="modelo"><%=product.nombre%></p>
            <div class="main_descuento_precio_articulo">
              <p class="precio">$<%= product.precio%></p>
            </div>
            <button><a class="button__blanco--color" href="/products/detalle/<%= product.id%>">Ver Detalle</a></button>
          </div>
        </article>
        <% }); %>
      </section>
      <article class="ver_productos">
        <a href="/products">MOSTRAR PRODUCTOS Y SERVICIOS</a>
      </article>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>

</body>

</html>