<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

<body class="body_home">

  <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
  <%- include("../partials/header.ejs") %>

    <main class="main__form">

      <div class="main__title__box">
        <hr class="main__form__lines">
        <h2 class="main__form__title">USUARIO</h2>
        <hr class="main__form__lines">
      </div>

      <form action="/users/update/<%= user.id %>?_method=PUT" method="post" class="main__form__register" enctype="multipart/form-data">
        <label for="name">NOMBRE</label>
        <input type="text" name="name"  id="name" value="<%= user.name %>"/>
        <p class="errores_validacion_profile"> <%= locals.errores && errores.name ? errores.name.msg : null %> </p>

        <label for="email">EMAIL</label>
        <input type="email" name="email"  value="<%= user.email %>"/>
        <p class="errores_validacion_profile"> <%= locals.errores && errores.email ? errores.email.msg : null %> </p>

        <label for="password">CONTRASEÑA</label>
        <div class="main__form__register__password">
        <input type="password" name="password" class="main__form__register__password" value="<%= user.password %>"/>
        <p class="errores_validacion_profile"> <%= locals.errores && errores.password ? errores.password.msg : null %> </p>
        <i class="fa-regular fa-eye"></i>
        </div>

        <div>
          <label for="category" >CATEGORIA :</label>
            <select name="category" id="category" <%= user.category %>>
              <option value="USER" <%=user.category == "USER" ? "selected" : null %> >USUARIO</option>
              <option value="ADMIN" <%=user.category == "ADMIN" ? "selected" : null %>>ADMIN</option>
            </select>
        </div>

        <label for="image">CAMBIO DE AVATAR: </label>
        <!-- <input type="file" name="image" id="image" accept="image/*" value="<%= user.image %>">
         -->
        
        <div class="img_create_fast">
              
          
          <input class="dashboard__image" name="image" type="file" accept="image/*" >
          <p class="errores_validacion_profile"> <%= locals.errores && errores.image ? errores.image.msg : null %> </p>
          
        </div>

          
        <div class="container_avatar_img">
          <h3 class="main__form__title">AVATAR: </h3>
            <img class="img_avatar" src="/images/users/<%= user.image %>" alt="imagen principal"  >
        </div>

        <div class="main__form__register__box">
          <button class="main__form__button" type="">CONFIRMAR</button>
        </div>
        
      </form>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("../partials/footer.ejs") %>


</body>

</html>